<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Hire-JOBS</title>
</head>

<body>
    {{>nav}}
    <style>
        .row-move {
            margin-left: 224px;
        }

        .card-color {
            background-color: rgb(252, 240, 218);
        }

        .some-color {
            background-color: rgb(207, 207, 204);
            height: 100vh;
        }
    </style>
    <section class="some-color">


        <div class="row row-move ">
            <div class="col-sm-5 my-4 me-2 ">
                <div class="card border border-dark">
                    <div class="card-body card-color">
                        <h5 class="card-title">Varun</h5>
                        <li>Profession : Carpenter</}li>
                        <li>Gender : Male</li>
                        <li>Email: varun@workat.com</li>
                        <li>Phone : 8956232356</li>
                        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
            <div class="col-sm-5 my-4 me-2 ">
                <div class="card border border-dark">
                    <div class="card-body card-color">
                        <h5 class="card-title">Suresh</h5>
                        <li>Profession: Machanic </}li>
                        <li>Gender : Male </li>
                        <li>Email: hitesh@workat.com</li>
                        <li>Phone : 7894561230</li>
                        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-move ">
            <div class="col-sm-5 my-4 me-2 ">
                <div class="card border border-dark">
                    <div class="card-body card-color">
                        <h5 class="card-title">Harry</h5>
                        <li>Profession : Plumber</}li>
                        <li>Gender : Male</li>
                        <li>Email: harry@workat.com</li>
                        <li>Phone : 8952502356</li>
                        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
            <div class="col-sm-5 my-4 me-2 ">
                <div class="card border border-dark">
                    <div class="card-body card-color">
                        <h5 class="card-title">Rocky</h5>
                        <li>Profession: Electician </}li>
                        <li>Gender : Male </li>
                        <li>Email: rocky@workat.com</li>
                        <li>Phone : 7899561230</li>
                        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-move ">
            <div class="col-sm-5 my-4 me-2 ">
                <div class="card border border-dark">
                    <div class="card-body card-color">
                        <h5 class="card-title">Varun</h5>
                        <li>Profession : Carpenter</}li>
                        <li>Gender : Male</li>
                        <li>Email: varun@workat.com</li>
                        <li>Phone : 8956232356</li>
                        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
            <div class="col-sm-5 my-4 me-2 ">
                <div class="card border border-dark">
                    <div class="card-body card-color">
                        <h5 class="card-title">Hitesh</h5>
                        <li>Profession: Machanic </}li>
                        <li>Gender : Male </li>
                        <li>Email: hitesh@workat.com</li>
                        <li>Phone : 7894561230</li>
                        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
        </div>

    </section>
    {{>footer}}
</body>

</html>